@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

body {
  background-color: black;
  color: whitesmoke;
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

#container {
  border: 1px solid white;
  margin: 0 auto;
  width: fit-content;
  display: flex;
  justify-content: center;
}

.cell {
  background-color: black;
  width: 50px;
  height: 50px;
  margin: 1px;
  border-radius: 2px;
}

.cell:hover {
  background-color: grey;
  transition: 0.2s;
}

.pixel {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pixel:hover {
  background-color: grey;
  transition: 0.3s;
}
